<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .error-page {
            background: #d2d6de;
            display: table;
            height: 100%;
            position: absolute;
            width: 100%;
            margin: 0;
            font-family: Arial;
            padding: 0;
        }
        .error-block {
            margin: 0 auto;
            width: 20%;
            text-align: center;
            color: #444;
        }
        .middle {
            display: table-cell;
            vertical-align: middle;
        }
        .error-block h1 {
            font-size: 80px;
            margin: 0;
            padding: 0;
        }
        .error-block div a {
            color: #444;
            font-size: 12px;
            width: 100%;
            display: block;
            padding-bottom: 20px;
            color: #444;
        }
        .login-logo,
        .register-logo {
            font-size: 26px;
            text-align: center;
            margin-bottom: 25px;
            font-weight: 300;
        }
    </style>
</head>
<body>
    <div class="error-page">
        <div class="middle">
            <div class="error-block">
                <div class="login-logo">
                    <span>Ucreate Review Tool</span>
                </div>
                <h1>401</h1>
                <h3>Unauthorized</h3>
                <h5>This server could not found verify that you are authorized to access the document requested.</h5>
            </div>
        </div>
    </div>
</body>

</html>